---
---

@import "minima";
@import url(http://fonts.googleapis.com/earlyaccess/nanumbarungothic.css);

$menu-height: 60px;
$base-font-family: "Nanum Barun Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;


$text-color:       #111 !default;
$background-color: #fbfbfb !default;
$brand-color:      #2a7ae2 !default;



body{
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  position: relative;
  background-color: $background-color;
  margin-top: 60px;
  padding-bottom: 600px;
  min-height: 700px;
}

#content {
  position: relative;
}
#left-bar{
  position: relative;
  top: -30%;
  left: 5%;
}
#post-list{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 60%;
}
a{
  color: black;
}

.fb-comments.fb_iframe_widget{
  margin-left: 40px;
}
#bottom-content{
  padding: 60px;
}
.post-item {
  border-color: black;
  border-width: 2px;
}
#post-background{
  position:relative;
  height:500px;
  width:100%;
  background-image: url(http://farm5.staticflickr.com/4135/4820238049_8e830ec494_b.jpg);
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
}

#home-background{
  position:relative;
  height:300px;
  width:100%;
  vertical-align: middle;
  background-image: url('/assets/cafe.jpg');
  background-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
}


#article{
  position:relative;
  z-index:2;
  margin: 60px;

}

#menu_bar {
  width: 100%;
  height: $menu-height;
  background-color: white;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  font-family: "Nanum Barun Gothic";
  padding: 10px;
  padding-left: 5%;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: 0px;
}

#menu_bar #menu_content {
  font-size:30px;
  position: relative;
}

#links {
  position: absolute;
  top:0px;
  right: 200px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  float: left;
  font-family: arial;
}

.container {
  padding: 0 16px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

ul {
  position: relative;
  width: 90%;
  list-style-type: none;
}


#footer {
  background-color: white;
  position: absolute;
  left: 10%;
  bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
}

#footer :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#footer img {
  float: left;
}
