<!DOCTYPE html>
<html>

<head>
    <title> {{ site.title }} </title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% include header.html %}

<body>

  <div id="home-background">
  </div>

  <div id="content">


  <div id="left-bar">
  <div class="card">
    <img src="/assets/myprofile.jpg" alt="John" style="width:100%">
    <div class="container">
      <h1>Zimin Byun</h1>
      <p class="title">Android Developer</p>
      <p>NHN NEXT</p>
      <p>미완성블로그입니다.</p>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <p><button>Contact</button></p>
    </div>
  </div>
  </div>
  <div id="post-list">
    <ul>
        {% for post in site.posts %}
        <li class="post-item">
          <p>
            {{ post.date | date:"%B %d %y"}}
          </p>
            <a href="{{ post.url }}">{{ post.title }}</a>

            <hr>
        </li>
        {% endfor %}
    </ul>
  </div>

      </div>
   {% include footer.html %}
</body>

</html>
